services:
  backend:
    build: ./backend
    container_name: pmu_backend
    env_file:
      - .env

    volumes:
      - ./backend:/app

      - /app/__pycache__
      - /app/.pytest_cache
      - /app/.venv
      - /app/failures
        
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "8000:8000"
    restart: on-failure

  frontend:
    build: ./frontend
    container_name: pmu_frontend
    depends_on:
      - backend
    environment:
      - API_URL=http://backend:8000
      - PYTHONUNBUFFERED=1
    
    volumes:
      - ./frontend:/app
      
      - /app/__pycache__
      - /app/.pytest_cache
      - /app/.venv
      
    ports:
      - "8501:8501"